body {
    background: rgb(13, 13, 19);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    background-size: 950px;
    padding: 30px 30px;
    font-size: 20px;
    height: 230px;
}

section {
    background: rgb(18, 18, 27);
    color: white;
    padding: 60px 30px;
    font-size: 20px;
    width: 700px;
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

footer {
    background-attachment: scroll;
    background-position: 0px 0px;
    position: fixed;
    bottom: 0pt;
    color: white;
}

div {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

h1 {
    padding: 40px 0px;
    margin: -40px 0px;
    text-align: center;
    color: white;
}

h2 {
    padding: 40px 0px;
    margin: -40px 0px;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

a.link{
    text-decoration: none;
    color: rgb(110, 118, 129);
    float: center;
}

p a.floatleft{
    color: white;
    float: left;
}
